services:
  api-service:
    build: ./api
    container_name: api-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - GOOGLE_MAPS_API_KEY=***REMOVED***
    restart: always

  external-service:
    build: ./external-service
    container_name: external-service
    ports:
      - "8092:8092"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always

  web-client:
    image: nginx:alpine
    container_name: web-client
    ports:
      - "80:80"
    volumes:
      - ./web/dist:/usr/share/nginx/html:ro
      - ./web/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api-service
    restart: always
