booking:
  base-url: ${BOOKING_BASE_URL:http://external-service:8092/api/booking}

frontend:
  base-url: "http://ec2-54-251-70-46.ap-southeast-1.compute.amazonaws.com"

# 开启健康检查
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true