booking:
  base-url: ${BOOKING_BASE_URL:http://external-service:8092/api/booking}

frontend:
  base-url: "https://aitrip.dingzh.cc"

# 开启健康检查
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true